# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Env files — NE JAMAIS COMMITER
backend/.env
frontend/.env.local
.env

# Node
node_modules/
frontend/.next/
frontend/out/

# OS
.DS_Store
Thumbs.db
