# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Env files — NE JAMAIS COMMITER
backend/.env
frontend/.env.local
generation/.env
.env

# Node
node_modules/
frontend/.next/
frontend/out/
capinsitu-frontend/.next/
capinsitu-frontend/out/
capinsitu-frontend/*.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# Fichiers sensibles locaux
mdpforme1.txt
